*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ========== Custom Properties ========== */
:root {
  --font-family-primary: "Source Sans Pro", sans-serif;
  --font-family-secondary: "Source Code Pro", monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 900;
  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: #4fc3f7;
  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
}

@media (min-width: 900px) {
  :root {
    --font-size-h1: 4.5rem;
    --font-size-h2: 3.75rem;
    --font-size-h3: 1.5rem;
    --font-size-body: 1.125rem;
  }
}

/* ========== General Styles ========== */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/* ========== Buttons ========== */
.button {
  display: inline-block;
  padding: 0.5em 2.5em;
  border-radius: 0px;
  background: var(--color-accent);
  color: var(--color-dark);
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* ========== Typography ========== */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

strong {
  font-weight: var(--font-weight-bold);
}

.section-title {
  margin-bottom: 0.25em;
}

.section-title-hero {
  font-weight: var(--font-weight-regular);
}

.section-title-hero strong {
  display: block;
}

.section-subtitle {
  background: var(--color-accent);
  font-size: var(--font-size-h3);
  font-family: var(--font-family-secondary);
  margin: 0 0 1em;
  padding: 0.25em 1.5em;
}

/* ========== Logo ========== */
.logo {
  max-width: 180px;
}

@media (min-width: 900px) {
  .logo {
    max-width: 200px;
  }
}

/* ========== Header ========== */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.nav {
  position: fixed;
  background: var(--color-dark);
  color: var(--color-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-button {
  padding: 1em 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  z-index: 200;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--color-dark);
  width: 2em;
  height: 2px;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  bottom: 6px;
}

.hamburger::after {
  top: 6px;
}

.nav-button:hover .hamburger,
.nav-button:hover .hamburger::before,
.nav-button:hover .hamburger::after {
  background: var(--color-accent);
}

/* Toggled when .nav-button is clicked */
.nav-open .nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav-open .nav-button {
  position: fixed;
}

.nav-open .hamburger {
  background: var(--color-light);
  -webkit-transform: rotate(0.625turn);
          transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  background: var(--color-light);
  -webkit-transform: rotate(90deg) translateX(6px);
          transform: rotate(90deg) translateX(6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-list {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--color-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
}

.nav-link:hover {
  color: var(--color-accent);
}

@media (min-width: 900px) {
  .nav {
    all: unset;
  }
  .nav-button {
    display: none;
  }
  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1em;
  }
  .nav-link {
    color: var(--color-dark);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-h3);
  }
}

/* ========== Hero Section ========== */
.hero {
  position: relative;
  padding-bottom: 10em;
}

.hero-img {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.section-subtitle-hero {
  display: inline-block;
}

@media (min-width: 600px) {
  .hero {
    display: -ms-grid;
    display: grid;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    -ms-grid-columns: 250px max-content;
        grid-template-columns: 250px -webkit-max-content;
        grid-template-columns: 250px max-content;
        grid-template-areas: "img title" "img subtitle";
  }
  .hero-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: img;
    position: relative;
    z-index: 2;
  }
  .section-title-hero {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
  }
  .section-subtitle-hero {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: subtitle;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    grid-column: 1 / -1;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    padding-left: calc(250px + 2.5em);
    /* img width + column-gap + left */
  }
}

/* ========== About Me Section ========== */
.about {
  max-width: 1000px;
  margin: 0 auto;
}

.section-subtitle-about {
  position: relative;
  left: -1.5em;
  width: calc(100% + 3em);
  /* left + .section-subtitle padding */
}

/* ========== Portfolio Section ========== */
.portfolio {
  background-color: var(--color-dark);
  background-image: url(../images/desk.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title-portfolio {
  color: var(--color-accent);
  position: relative;
}

.section-title-portfolio::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--color-light);
  opacity: 0.25;
}

.portfolio-body {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

.project {
  background: var(--color-light);
  padding: 2em;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.project-title a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.project-title a:hover {
  color: var(--color-accent);
}

.project-img {
  border: 1px solid black;
  margin-bottom: 1em;
}

.project-tags {
  list-style: none;
  padding: 0;
  font-family: var(--font-family-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5em;
}

.project-tags li {
  background: var(--color-accent);
  padding: 0.25em 1em;
  text-align: center;
}

.project-links {
  list-style: none;
  padding: 0;
}

.project-links a {
  text-decoration: none;
  color: inherit;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
}

.project-links a span {
  padding-left: 0.25em;
}

.project-links a:hover {
  color: var(--color-accent);
}

.project-links a:hover span {
  text-decoration: underline;
}

@media (min-width: 900px) {
  .project {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    -ms-grid-columns: fit-content 250px;
        grid-template-columns: -webkit-fit-content 250px;
        grid-template-columns: fit-content 250px;
        grid-template-areas: "title img" "tags img" "links img";
  }
  .project-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .project-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: img;
    margin: auto;
  }
  .project-links {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: links;
  }
  .project-tags {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: tags;
  }
}

/* ========== Contact Section ========== */
.contact {
  max-width: 1000px;
  margin: 0 auto;
}

.section-subtitle-contact {
  position: relative;
  left: -1.5em;
  width: calc(100% + 3em);
  /* left + .section-subtitle padding */
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 300;
  display: none;
}

.modal-open .modal {
  display: block;
}

.contact-confirmation {
  background: var(--color-light);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  width: 90%;
  max-width: 600px;
  padding: 2em 2em 5em;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact-confirmation-close {
  border: none;
  cursor: pointer;
  background: var(--color-light);
  color: var(--color-dark);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  padding: 0.5em 0.75em;
  position: absolute;
  top: 0;
  right: 0;
}

.contact-confirmation-close:hover {
  color: var(--color-accent);
}

.contact-confirmation-ok {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-bottom: 1.3em;
  /* minimum to position .input-warning properly */
}

.contact-label {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h3);
}

.contact-input {
  resize: none;
  padding: 0.75em;
  border: 1px solid var(--color-dark);
  border-radius: 0px;
}

.contact-input:focus {
  border-color: var(--color-accent);
  outline: 1px solid var(--color-accent);
}

.contact-warning {
  position: absolute;
  bottom: 0;
  color: red;
  display: none;
}

/* Added when .contact-input is invalid */
.contact-input-invalid .contact-input {
  border-color: red;
}

.contact-input-invalid .contact-warning {
  display: block;
}

.contact-submit {
  padding: 0.75em;
  margin-top: 2em;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

.contact-links a {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  color: inherit;
  text-decoration: none;
}

.email {
  padding: 0.25em 0.75em;
}

.email:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
}

.social-link {
  padding: 0.5em 0.75em;
}

.email:hover,
.social-link:hover {
  color: var(--color-accent);
}

@media (min-width: 600px) {
  .contact-submit {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: calc(600px - 4em);
    /* 600px - section padding */
  }
}

/* ========== Footer ========== */
.footer {
  padding: 0 1em 1em;
}
/*# sourceMappingURL=style.css.map */