*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ========== Custom Properties ========== */

:root {
  --font-family-primary: "Source Sans Pro", sans-serif;
  --font-family-secondary: "Source Code Pro", monospace;

  --font-weight-regular: 400;
  --font-weight-bold: 900;

  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: #4fc3f7;

  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
}

@media (min-width: 900px) {
  :root {
    --font-size-h1: 4.5rem;
    --font-size-h2: 3.75rem;
    --font-size-h3: 1.5rem;
    --font-size-body: 1.125rem;
  }
}

/* ========== General Styles ========== */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/* ========== Buttons ========== */

.button {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--color-accent);
  color: var(--color-dark);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  transition: transform 200ms ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

/* ========== Typography ========== */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

strong {
  font-weight: var(--font-weight-bold);
}

.section-title {
  margin-bottom: 0.25em;
}

.section-title-hero {
  font-weight: var(--font-weight-regular);
}

.section-title-hero strong {
  display: block;
}

.section-subtitle {
  background: var(--color-accent);
  font-size: var(--font-size-h3);
  font-family: var(--font-family-secondary);
  margin: 0 0 1em;
  padding: 0.25em 1.5em;
}

/* ========== Logo ========== */

.logo {
  max-width: 180px;
}

@media (min-width: 900px) {
  .logo {
    max-width: 200px;
  }
}

/* ========== Header ========== */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nav {
  position: fixed;
  background: var(--color-dark);
  color: var(--color-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-button {
  padding: 1em 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  z-index: 1000;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--color-dark);
  width: 2em;
  height: 2px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  bottom: 6px;
}

.hamburger::after {
  top: 6px;
}

.nav-button:hover .hamburger,
.nav-button:hover .hamburger::before,
.nav-button:hover .hamburger::after {
  background: var(--color-accent);
}

/* Toggled when .nav-button is clicked */
.nav-open .nav {
  transform: translateX(0%);
}

.nav-open .nav-button {
  position: fixed;
}

.nav-open .hamburger {
  background: var(--color-light);
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  background: var(--color-light);
  transform: rotate(90deg) translateX(6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-list {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--color-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
}

.nav-link:hover {
  color: var(--color-accent);
}

@media (min-width: 900px) {
  .nav {
    all: unset;
  }

  .nav-button {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    gap: 1em;
  }

  .nav-link {
    color: var(--color-dark);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-h3);
  }
}

/* ========== Hero Section ========== */

.hero {
  position: relative;
}

.hero-img {
  box-shadow: var(--box-shadow);
}

.section-subtitle-hero {
  display: inline-block;
}

@media (min-width: 600px) {
  .hero {
    display: grid;
    width: min-content;
    margin: 0 auto;
    column-gap: 1em;
    grid-template-columns: 250px max-content;
    grid-template-areas:
      "img title"
      "img subtitle";
  }

  .hero-img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }

  .section-title-hero {
    grid-area: title;
  }

  .section-subtitle-hero {
    grid-area: subtitle;
    align-self: start;
    grid-column: 1 / -1;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    padding-left: calc(250px + 2.5em); /* img width + column-gap + left */
  }
}

/* ========== Skills Section ========== */

.skills {
  background-color: var(--color-dark);
  background-image: url(../images/desk.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title-skills {
  color: var(--color-accent);
}

.section-title-skills::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--color-light);
  opacity: 0.25;
}

.skills-body {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 4em;
}

.skill {
  max-width: 500px;
}

@media (min-width: 900px) {
  .skills-body {
    flex-direction: row;
    max-width: 1000px;
  }
}

/* ========== About Me Section ========== */

.about {
  max-width: 1000px;
  margin: 0 auto;
}

.section-subtitle-about {
  position: relative;
  left: -1.5em;
  width: calc(100% + 3em); /* left + .section-subtitle padding */
}

/* ========== Portfolio Section ========== */

.portfolio {
  background-color: var(--color-dark);
  background-image: url(../images/desk.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title-portfolio {
  color: var(--color-accent);
  position: relative;
}

.section-title-portfolio::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--color-light);
  opacity: 0.25;
}

.portfolio-body {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.project {
  background: var(--color-light);
  padding: 2em;
  max-width: 500px;
  box-shadow: var(--box-shadow);
  transition: transform 200ms ease-in-out;
}

.project:hover {
  transform: scale(1.05);
}

.project-links {
  list-style: none;
  padding: 0;
}

.project-link {
  text-decoration: none;
  color: inherit;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
}

.project-link:hover {
  text-decoration: underline;
  color: var(--color-accent);
}

.tags {
  list-style: none;
  padding: 0;
  font-family: var(--font-family-secondary);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tag {
  background: var(--color-accent);
  padding: 0.25em 1em;
  text-align: center;
}

@media (min-width: 900px) {
  .portfolio-body {
    flex-direction: row;
    max-width: 1000px;
  }
}

/* ========== Contact Section ========== */

.contact {
  max-width: 1000px;
  margin: 0 auto;
}

.section-subtitle-contact {
  position: relative;
  left: -1.5em;
  width: calc(100% + 3em); /* left + .section-subtitle padding */
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.contact-links a {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  color: inherit;
  text-decoration: none;
}

.email {
  padding: 0.25em 0.75em;
}

.email:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.social-link {
  padding: 0.5em 0.75em;
}

.email:hover,
.social-link:hover {
  color: var(--color-accent);
}

/* ========== Footer ========== */

.footer {
  padding: 0 1em 1em;
}
